@import "tailwindcss";

@font-face {
  font-family: "MBSindhiWeb","jameel noori nastaleeq_0";
  src: url("/fonts/MBSindhiWeb.otf") format("opentype");
  src: url("/fonts/jameel noori nastaleeq_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

